$primary-color: #f0efea;
$secondary-color: #05afaf;
$green-color: #4ee4a5;
$blue-color: #004e75;
$light-color: #fff;
$grey-color: #61616a;
$light-grey-color: #ccc;
$dark-grey-color: #91939a;

$primary-size: 2em;
$secondary-size: 4em;
